.appBar,
.appBarScroll {
  background-color: transparent;
  font-family: Roboto Slab, sans-serif;
  transition: background-color 0.15s ease-out;
  padding-left: 1.75rem;
}
.appBarScroll {
  background-color: #16181E;
}
.appBarInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  margin-bottom: 1.7rem;
}
.logoContainer {
  position: absolute;
  left: 0.75rem;
}
.logo {
  width: 8rem;
}
.buttonContainer {
  position: absolute;
  right: 0.75rem;
}
.button {
  background: #975b36;
  text-transform: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  border: 0;
  box-shadow: none;
  font-family: Roboto Slab, sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
}
.button:hover {
  background: #8b522f;
}
.navItems {
  color: white;
  display: flex;
  flex-direction: row;
}
.navItem {
  cursor: pointer;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  color: #ffffff;
  transition: color 0.4s ease-out;
}

.navItem:hover {
  color: #b6c9e3;
  text-decoration: none;
}
.navItem::after {
  border-radius: 0.05em;
  border-top: 0.25em solid #ffffff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -0.5em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

.navItem:hover::after {
  border-color: #b6c9e3;
  right: 0;
}

.appBarMobile,
.appBarMobileScroll,
.mobileLogo {
  display: none;
}
@media screen and (max-width: 800px) {
  .appBarScroll,
  .logoContainer,
  .appBar {
    display: none;
  }
  .appBarMobile,
  .appBarMobileScroll {
    display: block;
  }
  .appBarMobile,
  .appBarMobileScroll {
    background-color: transparent;
    transition: background-color 0.15s ease-out;
    display: flex;
    flex-direction: row;
  }
  .appBarMobileScroll {
    background-color: #16181E;
  }
  .menuButton {
    margin-left: 0.5rem;
    color: white;
  }
  .shortLogoContainerAppbar {
    margin-top: auto;
  }
  .shortLogoContainerAppbarInner {
    width: 2.5rem;
    margin: 0;
  }
  .drawer {
    flex-shrink: 0;
    width: 240px;
  }
  .drawerPaper {
    background-color: #0c263f;
  }
  .closeMenuButton {
    margin-right: auto;
    margin-left: 0;
    color: white;
  }
  .sideBarImage {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .sideBarImageInner {
    width: 13rem;
  }
  .svgIcon {
    color: white;
  }
  .sideBarText {
    color: white;
    font-family: Roboto Slab, sans-serif;
    font-weight: bold;
    font-size: 0.95rem;
  }
  .divider {
    background-color: rgba(255, 255, 255, 0.185);
  }
}
