.cardBody {
  overflow: auto;
  padding-bottom: 4rem;
  padding-top: 0rem;
}
.link {
  box-shadow: none;
  margin: 0;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
}

.textContainer {
  padding-right: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}
.title {
  margin: 1rem;
  margin-bottom: 0;
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  font-size: 2.35rem;
  line-height: 3rem;
  color: black;
}
.date {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  color: #f3881a;
  opacity: 1;
  font-size: 1.1rem;
}
.paragraph {
  margin-left: 1rem;
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  color: grey;
  opacity: 0.5;
  font-size: 1.1rem;
}
.imageContainer {
  margin: 0;
  margin-left: auto;
  margin-right: 1rem;
}
.image {
  width: 15.5rem;
  object-fit: cover;
  height: 15.5rem;
  border-radius: 1.5rem;
}
.background {
  background-color: whitesmoke;
}
.gridContainer {
  display: grid;
  max-width: 52.5rem;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2rem;
  padding-top: 3rem;
}
.panelTwoContainer {
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .panelTwoContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
  }
  .textContainer {
    max-width: 30rem;
  }
  .imageContainer {
    margin-right: auto;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .textContainer {
    font-size: 0.9rem;
  }
}
