.image {
  z-index: -1;
  height: 105%;
  object-fit: cover;
  width: 100%;
  filter: brightness(21%);
  overflow: auto;
}
.imageOuter {
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 45%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.root {
  background-color: transparent;
  position: relative;
  padding-bottom: 5rem;
  padding-top: 5rem;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}
.text {
  width: 30rem;
  text-align: center;
}
.title {
  z-index: 2;
  padding-top: 3rem;
  color: #ceb095;
  font-size: 3rem;
  line-height: 2.6rem;
  font-family: Roboto Slab, sans-serif;
  padding-bottom: 2rem;
  font-weight: 700;
}
.para {
  color: #ceb095;
  font-size: 1rem;
  line-height: 1.7rem;
  font-family: Roboto Slab, sans-serif;
  margin-right: 2rem;
  margin-left: 2rem;
}
.buttonContainer {
  text-align: center;
  padding-top: 1.5rem;
  
}
.helperText {
  font-family: Roboto Slab, sans-serif;
}
.textField {
  padding-bottom: 1.5rem;
}

.textField label {
  color: #ceb095;
  font-family: Roboto Slab, sans-serif;
  font-weight: 700;
}

.textFieldError {
  padding-bottom: 1.5rem;
}

.textFieldError label {
  font-family: Roboto Slab, sans-serif;
  font-weight: 700;
}

.error {
  vertical-align: middle;
  width: 1rem;
  margin-right: 0.5rem;
  margin-left: -0.8rem;
}
.moreCaseStudiesButton {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  z-index: 3;
  color: white;
  background-color: #90663e;
  text-transform: none;
  font-family: Roboto Slab, sans-serif;
  font-weight: 500;
  padding: 0.7rem;
  transition: all 0.4s ease;
}

.moreCaseStudiesButton:hover {
  background-color: #90663e;
  opacity: 85%;
}
